body {
  width: auto;
  height: 100%;
}

.icon-bar {
  background-color: white;
}

.background-image {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../Images/index.jpg");
}

/***************** NAVBAR *********************/


@media only screen and (min-device-width: 800px){
  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 36px;
  }

  .nav > li > a {
    color: white;
    outline: none;
  }

  .navbar-brand:hover {
    color: white;
    background: transparent;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
    outline: none;
  }

  .navbar-text {
    color: white;
  }
}


@media only screen and (min-device-width: 400px) and (max-device-width: 799px){
  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 36px;
  }

  .nav > li > a {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    outline: none;
  }

  .navbar-brand:hover {
    color: white;
    background: transparent;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #f0a131;
    text-decoration: none;
    outline: none;
  }

  .navbar-text {
    color: white;
  }

  .dropdown-menu > li > a {
    color: white;
    outline: none;
  }

  .divider{
    margin-left: 10px;
    margin-right: 10px;
  }
}

/***************** INDEX CONTENT ****************/

.title {
  font-weight: bold;
}

.section {
  margin-top: 75px;
}

.jumbotron {
  background-color: white;
}

#input-search-city {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: large;
  padding: 10px;
  border: 1px solid #CCCCCC;
  outline-color: #f0a131;
}

.date-selection {
  margin-top: 25px;
}

.form-divider {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
  margin-top: 20px;
  margin-bottom: 20px;
}

#submit-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
  background-color: #f0a131;
  text-decoration: none;
  font-weight: 600;
}

#submit-search:active {
  background-color: #e2901c;
}

#container-radio-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radio-group-type {
  display: inline-block;
  width: 30%;
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  height: 25px;
  bottom: 0px;
  color: white;
  padding-top: 3px;
  padding-left: 15px;
  background-color: #000000;
  opacity: 0.8;
  overflow: hidden;
}

/****************** MODAL *****************/

#image-form-login {
  display: block;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#button-login-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-login-confirm:hover {
  background-color: green;
}

#button-show-form-register {
  color: #e2901c;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 50px;
  text-decoration: none;
}

#button-register-confirm {
  display: block;
  background-color: #f0a131;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin: 30px auto 10px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-register-confirm:hover {
  background-color: #e2901c;
}

#register-form-title{
  font-weight: bold;
  font-size: x-large;
  color: #212121;
  margin-left: 135px;
  margin-top: 30px;
}

#button-login{
  outline: none;
  border: none;
  background-color: transparent;
  color: #e5e5e5;
}

#button-login:hover{
  color: white;
}

.alert {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#alert-success {
  display: none;
}

#alert-success {
  display: none;
}

#alert-error-search{
  margin-top: 15px;
}

#alert-error, #alert-error-login, #alert-error-search {
  display: none;
}

.button-logout {
  display: block;
  background-color: #E53935;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

.button-logout:hover {
  background-color: #D32F2F;
}

#check-in-check-out {
  display: block;
  width: 100%;
  border-radius: 0px;
  font-size: large;
  margin-top: 15px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}
