<!-- NAVBAR -->
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="back-button" class="navbar-brand" role="button" routerLink="/index" routerLinkActive="active">Road to
        Svapo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-button" role="button" tabindex="0" routerLink="/index">Home</a></li>
        <li><a class="navbar-button" role="button" tabindex="1" routerLink="/groups">Gruppi</a></li>
        <li><a class="navbar-button" role="button" tabindex="2" routerLink="/suggest">Suggerisci un posto</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user == null">
          <a id="button-login" role="button" tabindex="0" data-toggle="modal" data-target="#loginModal"
             whatever="@fat" (click)="clearModals();">Login
          </a>
        </li>
        <li *ngIf="user != null">
          <a id="button-logout" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Benvenuto, {{user.userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a role="button" routerLink="/profile">Profilo</a></li>
            <li role="separator" id="dropdown-separator" class="divider"></li>
            <li><a role="button" data-toggle="modal" data-target="#logout-dialog">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- MODAL LOGOUT -->
<div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Logout</h4>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler effettuare il logout?</p>
        <button type="button" class="btn button-logout" data-dismiss="modal" (click)="onLogout();">LOGOUT</button>
      </div>
    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="section">

  <!-- LEFT COLUMN -->
  <div class="left-column col-lg-3 col-md-3 hidden-sm hidden-xs">
    <p class="column-left-title">Pianifica la tua vacanza</p>
    <form>
      <input auto-complete [(ngModel)]="selectedCity" [source]="cities"
             name="cityName" (valueChanged)="onCitySelection($event)" [accept-user-input]="false" type="text"
             id="input-search-city" placeholder="Seleziona una città" min-chars="3" max-num-list="4" autocomplete="off">

      <my-date-range-picker id="check-in-check-out" name="mydaterange" placeholder="Check-in e check-out"
                            [options]="myDateRangePickerOptions"
                            [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)"
                            (inputFieldChanged)="onInputFieldChanged($event)"></my-date-range-picker>
      <div class="horizontal-divider"></div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="friends" checked="checked" (click)="onChangeType('friends');"> <span
        class="span-type">Amici</span>
      </div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="family" (click)="onChangeType('family');"> <span class="span-type">Famiglia</span>
      </div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="love" (click)="onChangeType('love');"> <span
        class="span-type">Romantica</span>
      </div>

      <input id="submit-search" type="submit" value="SCOPRI" (click)="onSearch();">
    </form>

    <div id="alert-error-search" class="alert alert-danger" role="alert">
      <strong>Errore:</strong>
      <span>Tutti i campi sono obbligatori.</span>
    </div>
  </div>

  <!-- CENTER COLUMN -->
  <div class="center-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <p *ngIf="itineraries == null || itineraries.length == 0" id="center-column-title-no-itineraries">Nessun itinerario
      salvato</p>
    <p *ngIf="itineraries != null && itineraries.length != 0" id="center-column-title">Itinerari salvati</p>
    <div *ngFor="let trip of itineraries">

      <div class="header-trip" data-toggle="collapse">
        <div class="header-trip-content">
          <span>{{trip.cityName}} da {{trip.startDay}} a {{trip.endDay}}</span>
        </div>
      </div>

      <div id="{{trip.id}}" class="collapse flex-places" class="trip-content">

        <div *ngFor="let place of trip.places" class="container flex-place">
          <img src="{{place.image}}" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <p role="button" (click)="openDetails(place.namePlace,
            place.longDescription, place.image, place.link, place.linkType, place.address);">{{place.namePlace}}</p>
              <p class="place-date-item">{{place.dayRoute}}</p>
            </div>
          </div>
        </div>

      </div>

      <div class="divider-header"></div>

    </div>

  </div> <!-- Chiusura colonna centrale -->

  <!-- RIGHT COLUMN -->
  <div class="right-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <p id="column-right-title">Profilo</p>
    <div id="profile-account-avatar">
      <img id="profile-avatar" src="../assets/avatar.png">
      <div id="profile-infos">
        <p id="profile-infos-email">{{user.email}}</p>
        <p id="profile-infos-label">Account</p>
      </div>
    </div>
    <p class="profile-item-label">Nome</p>
    <p class="profile-item-value">{{user.userName}}</p>
    <p class="profile-item-label">Cognome</p>
    <p class="profile-item-value">{{user.surname}}</p>
    <p class="profile-item-label">Numero itinerari creati</p>
    <p class="profile-item-value">{{itineraries.length}}</p>
  </div>

</div>

<div class="foo">
  <div class="cont">
    <div class="row">
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Contatti</p>
        <p>inquire@roadtosvapo.it</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Indirizzo</p>
        <p>5230 Penfield Ave, Woodland Hills, CA</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-12 col-xs-12">
        <p>&copy; 2017-2018 roadtosvapo.it - All Rights Reserved</p>
        <p>Enjoy your trip!</p>
      </div>
    </div>
  </div>
</div>

<button hidden id="button-details-modal" data-toggle="modal" data-target="#detailModal"></button>

<!-- MODAL DETAILS -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 id="detail-place-name" class="text-center"></h1>
      </div>

      <div class="modal-body">
        <img id="detail-place-image" src="" />
        <p class="detail-title"><strong>Descrizione</strong></p>
        <p id="detail-place-description"></p>

        <p class="detail-title"><strong class="detail-title">Indirizzo</strong></p>
        <p id="detail-place-address"></p>

        <p class="detail-title"><strong>Link utili</strong></p>
        <a id="detail-place-link" target="_blank"></a>
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
