p {
  margin-bottom: 0px;
}

@media only screen and (min-device-width: 769px) {

  .cont {
    width: 100%;
    display: table;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login {
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover {
    color: white;
  }

  #button-logout {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover {
    color: white;
  }

  .navbar-text {
    color: white;
  }

  /****** LEFT COLUMN ******/
  .column-left-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #input-search-city {
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 15px;
    border-radius: 4px;
    font-size: small;
    padding: 5px;
    border: 1px solid #CCCCCC
  }

  #check-in-check-out {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 0px;
    font-size: large;
    margin-top: 15px;
  }

  .radio-group-type {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .horizontal-divider {
    width: 100%;
    height: 30px;
  }

  #submit-search {
    background-color: #f0a131;
    color: white;
    display: block;
    font-weight: bold;
    margin: 25px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #submit-search:hover {
    background-color: #e2901c;
  }

  #alert-error-search {
    display: none;
  }

  /*** CENTER COLUMN ******/
  .center-column {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 600px;
    margin-bottom: 30px;
  }

  .container {
    position: relative;
    padding: 0px;
    display: inline-block;
    width: calc(100% * 1 / 3 - 12px);
    margin-top: 8px;
    margin-right: 12px;
    height: 180px;
    flex-grow: 1;
    overflow: hidden;
  }

  #center-column-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #center-column-title-no-itineraries {
    font-size: medium;
    font-weight: bold;
    color: #212121;

  }

  .flex-places {
    display: flex;
    flex-wrap: wrap;
  }

  .image {
    display: block;
    width: auto;
    height: 180px;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .container:hover .overlay {
    width: 100%;
    left: 0;
  }

  .text {
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .place-date-item {
    font-weight: bold;
  }

  .header-trip {
    background-color: #212121;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .header-trip-content span {
    font-size: medium;
  }

  .header-trip-content p {
    font-size: x-small;
    margin-bottom: 0px;
  }

  #column-right-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #profile-account-avatar {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  #profile-avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
  }

  #profile-infos {
    display: inline-block;
    margin-left: 15px;
  }

  #profile-infos-email {
    font-weight: bold;
  }

  .profile-item-label {
    margin-top: 15px;
    font-weight: bold;
    font-size: large;
  }

  .profile-item-value {
    font-size: medium;
  }

  .button-logout {
    display: block;
    background-color: #E53935;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  .button-logout:hover {
    background-color: #D32F2F;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 300px) and (max-width: 768px) {

  .cont {
    width: 100%;
    display: table;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-info {
    margin-bottom: 10px;
  }

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login {
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover {
    color: white;
  }

  #button-logout {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover {
    color: white;
  }

  .navbar-text {
    color: white;
  }

  .dropdown-menu > li > a {
    color: #d5d5d5;;
  }

  #dropdown-separator {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
  }

  #button-login {
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover {
    color: white;
  }

  #button-logout {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover {
    color: white;
  }

  .navbar-text {
    color: white;
  }

  /****** LEFT COLUMN ******/
  .column-left-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #input-search-city {
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 15px;
    border-radius: 4px;
    font-size: small;
    padding: 5px;
    border: 1px solid #CCCCCC
  }

  #check-in-check-out {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 0px;
    font-size: large;
    margin-top: 15px;
  }

  .radio-group-type {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .horizontal-divider {
    width: 100%;
    height: 30px;
  }

  #submit-search {
    background-color: #f0a131;
    color: white;
    display: block;
    font-weight: bold;
    margin: 25px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #submit-search:hover {
    background-color: #e2901c;
  }

  #alert-error-search {
    display: none;
  }

  /*** CENTER COLUMN ******/
  .center-column {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 200px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .container {
    position: relative;
    padding: 0px;
    display: inline-block;
    width: calc(100% * 1 / 2 - 12px);
    margin-top: 8px;
    margin-right: 12px;
    height: 180px;
    flex-grow: 1;
    overflow: hidden;
  }

  #center-column-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #center-column-title-no-itineraries {
    font-size: medium;
    font-weight: bold;
    color: #212121;

  }

  .flex-places {
    display: flex;
    flex-wrap: wrap;
  }

  .image {
    display: block;
    width: auto;
    height: 180px;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .container:hover .overlay {
    width: 100%;
    left: 0;
  }

  .text {
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .place-date-item {
    font-weight: bold;
  }

  .header-trip {
    background-color: #212121;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .header-trip-content {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .header-trip-content span {
    font-size: medium;
  }

  .header-trip-content p {
    font-size: x-small;
    margin-bottom: 0px;
  }

  #column-right-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #profile-account-avatar {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  #profile-avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
  }

  #profile-infos {
    display: inline-block;
    margin-left: 15px;
  }

  #profile-infos-email {
    font-weight: bold;
  }

  .profile-item-label {
    margin-top: 15px;
    font-weight: bold;
    font-size: large;
  }

  .profile-item-value {
    font-size: medium;
  }

  .button-logout {
    display: block;
    background-color: #E53935;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  .button-logout:hover {
    background-color: #D32F2F;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  .right-column {
    margin-bottom: 30px;
  }

}

.foo {
  clear: both;
  color: white;
  padding: 15px;
  background-color: #212121;
  box-shadow: 0px -4px 4px #999999;
  display: flex;
}

.footer-title {
  font-size: medium;
  font-weight: bold;
}

/********** DETAIL **************/

#detail-place-image {
  width: 100%;
}

.detail-title {
  margin-top: 8px;
}





