p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 769px){

  .cont {
    width: 100%;
    display: table;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login{
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover{
    color: white;
  }

  #button-logout{
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover{
    color: white;
  }

  .navbar-text {
    color: white;
  }

}

@media only screen and (min-width: 400px) and (max-width: 768px){

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login{
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover{
    color: white;
  }

  #button-logout{
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover{
    color: white;
  }

  .navbar-text {
    color: white;
  }

  .dropdown-menu > li > a {
    color: #d5d5d5;;
  }

  #dropdown-separator{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
  }
}

/******************* MODAL ********************/

#image-form-login {
  display: block;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#button-login-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-login-confirm:hover {
  background-color: green;
}

#button-show-form-register {
  color: #e2901c;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 50px;
  text-decoration: none;
}

#button-register-confirm {
  display: block;
  background-color: #f0a131;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin: 30px auto 10px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-register-confirm:hover {
  background-color: #e2901c;
}

#register-form-title{
  font-weight: bold;
  font-size: x-large;
  color: #212121;
  margin-left: 135px;
  margin-top: 30px;
}

.alert {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#alert-success {
  display: none;
}

#alert-success {
  display: none;
}

#alert-error, #alert-error-login {
  display: none;
}

/***************** LEFT COLUMN ************************/

#column-left-title {
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

#column-left-title-two {
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

.group-list-item{
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.group-list-item-img{
  width: 40px;
  height: 40px;
  display: inline-block;
}

.group-list-item-text{
  display: inline-block;
  margin-left: 15px;
}

.group-list-item-text a{
  color: #212121;
  text-decoration: none;
}

.group-list-item-text a:hover{
  color: #f0a131;
  text-decoration: none;
}

.group-list-item-name{
  font-weight: bold;
  font-size: medium;
}

#group-creation-button{
  background-color: #f0a131;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  display: block;
}

#group-creation-button:hover{
  background-color: #e2901c;
}

/************* RIGHT COLUMN ***************/

.member-list-item-img{
  width: 35px;
  height: 35px;
  display: inline-block;
}

.column-right-title{
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

.member-list-item-name{
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
}

.member-list-item{
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}


/************* CENTER COLUMN ***********/

@media only screen and (min-width: 769px) {

  .center-column {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 600px;
    margin-bottom: 30px;
  }

  .container {
    position: relative;
    padding: 0px;
    display: inline-block;
    width: calc(100% * 1/3 - 12px);
    margin-top: 8px;
    margin-right: 12px;
    height: 180px;
    flex-grow: 1;
    overflow: hidden;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px){

  .cont {
    width: 100%;
    display: table;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    position: relative;
    padding: 0px;
    display: inline-block;
    width: calc(100% * 1/2 - 12px);
    margin-top: 8px;
    margin-right: 12px;
    height: 180px;
    flex-grow: 1;
    overflow: hidden;
  }

  .center-column {
    min-height: 150px;
  }

  .left-column-hidden {
    margin-top: 30px;
  }

  .footer-info {
    margin-bottom: 10px;
  }

}

.flex-places {
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: block;
  width: auto;
  height: 180px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.header-trip {
  background-color: #212121;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.header-trip-content span{
  font-size: medium;
}

.header-trip-content p{
  font-size: x-small;
  margin-bottom: 0px;
}

#button-group-creation-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-login-confirm:hover {
  background-color: green;
}

#alert-error-group, #alert-success-group{
  display: none;
}

#center-column-title {
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

#add-member-button {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#add-member-button:hover {
  background-color: #3b9e49;
}

.text p {
  font-size: small;
}

.divider-header {
  width: 100%;
  height: 40px;
}

.circle-button-add-group {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: #f0a131;
  color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  margin-left: 6px;
  font-weight: bold;
}

.circle-button-add-member {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  margin-left: 6px;
  font-weight: bold;
}

.circle-button-add-member:hover {
  background-color: #3b9e49;
}


#button-member-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-member-confirm:hover {
  background-color: #3b9e49;
}

.left-column-hidden {
  margin-bottom: 30px;
}

.place-date-item {
  font-weight: bold;
}

.close {
  display: block;
  margin-right: 0px;
  margin-left: auto;
  outline: none;
}

.button-logout {
  display: block;
  background-color: #E53935;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin: 30px auto 10px;
  outline: none;
  border: none;
  border-radius: 30px;
}

.button-logout:hover {
  background-color: #D32F2F;
  color: white;
}

.foo {
  clear: both;
  color: white;
  padding: 15px;
  background-color: #212121;
  box-shadow: 0px -4px 4px #999999;
  display: flex;
}

.footer-title {
  font-size: medium;
  font-weight: bold;
}

.right-column {
  margin-bottom: 30px;
}

/********** DETAIL **************/

#detail-place-image {
  width: 100%;
}

.detail-title {
  margin-top: 8px;
}
