<!-- NAVBAR -->
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="back-button" class="navbar-brand" role="button" routerLink="/index" routerLinkActive="active">Road to Svapo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-button" role="button" tabindex="0" routerLink="/index">Home</a></li>
        <li><a class="navbar-button" role="button" tabindex="1" routerLink="/groups">Gruppi</a></li>
        <li><a class="navbar-button" role="button" tabindex="2" routerLink="/suggest">Suggerisci un posto</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user == null">
          <a id ="button-login" role="button" tabindex="0" data-toggle="modal" data-target="#loginModal"
             whatever="@fat" (click)="clearModals();">Login
          </a>
        </li>
        <li *ngIf="user != null">
          <a id="button-logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benvenuto, {{user.userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a role="button" routerLink="/profile">Profilo</a></li>
            <li role="separator" id="dropdown-separator" class="divider"></li>
            <li><a role="button" data-toggle="modal" data-target="#logout-dialog">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- MODAL LOGOUT -->
<div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Logout</h4>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler effettuare il logout?</p>
        <button type="button" class="btn button-logout" data-dismiss="modal" (click)="onLogout();">Logout</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ADD MEMBER -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center">Aggiunta membro</h1>
        <p class="text-center" id="name-selected-group">in XXXXXXX XXXXX XXXXX</p>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="member-email" type="text" class="form-control" placeholder="E-Mail nuovo membro" autocomplete="off">
          </div>
        </form>
        <div id="alert-success-member" class="alert alert-success" role="alert">Membro aggiunto con successo!</div>
        <div id="alert-error-member" class="alert alert-danger" role="alert">
          <strong>Errore:</strong>
          <span id="error-message-member">Impossibile aggiungere membro</span>
        </div>
        <button id="button-member-confirm" type="button" class="btn" (click)="onAddMemberConfirm();">CONFERMA</button>
      </div>

    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="section">

  <!-- LEFT COLUMN -->
  <div class="left-column col-lg-3 col-md-3 hidden-sm hidden-xs">
    <span id="column-left-title">Gruppi</span>
    <div class="group-list">
      <div *ngFor="let group of groupList; index as i" class="group-list-item">
        <img class="group-list-item-img" src="../assets/groups.png">
        <div class="group-list-item-text">
          <a role="button" (click)="onMemberRequest(group);"><p class="group-list-item-name">{{group.groupName}}</p></a>
          <span class="group-list-item-members">{{group.memberNum}} membri</span>
        </div>
        <button type="button" class="close" (click)="exitFromGroup(group, i);"><span>&times;</span></button>
      </div>
    </div>
    <button id="group-creation-button" data-toggle="modal" data-target="#groupCreationModal" (click)="resetModals();">CREA</button>
  </div>

  <!-- CREATION MODAL GROUP -->
  <div class="modal fade" id="groupCreationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1 class="text-center">Creazione gruppo</h1>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <input id="group-name-input" type="text" class="form-control" placeholder="Nome gruppo" autocomplete="off">
            </div>
            <div id="alert-success-group" class="alert alert-success" role="alert">Creazione gruppo avvenuta con successo!</div>
            <div id="alert-error-group" class="alert alert-danger" role="alert">
              <strong>Errore:</strong>
              <span id="error-message-group">Si è verificato un problema durante la creazione del gruppo.</span>
            </div>
          </form>

          <button id="button-group-creation-confirm" type="button" class="btn" (click)="onCreation();">Conferma</button>
        </div>

      </div>
    </div>
  </div>

  <!-- CENTER COLUMN -->
  <div class="center-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <span *ngIf="groupList == null || groupList.length == 0"
          class="column-right-title">Non fai parte di nessun gruppo</span>
    <p *ngIf="currentGroup != null" id="center-column-title">Gruppo corrente: {{currentGroup.groupName}}</p>
    <p *ngIf="groupList.length != 0 && itineraries.length == 0">Nessun itinerario da visualizzare</p>
    <div *ngFor="let trip of itineraries">

      <div class="header-trip"  data-toggle="collapse"><!--role="button" href="todo"-->
        <div class="header-trip-content">
          <span>{{trip.cityName}} da {{trip.startDay}} a {{trip.endDay}}</span>
          <p>Creato da {{trip.userName}} {{trip.surname}}</p>
        </div>
      </div>

      <div id="{{trip.id}}" class="collapse flex-places" class="trip-content">

        <div *ngFor="let place of trip.places" class="container flex-place">
          <img src="{{place.image}}" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <p role="button" (click)="openDetails(place.namePlace,
            place.longDescription, place.image, place.link, place.linkType, place.address);">{{place.namePlace}}</p>
              <p class="place-date-item">{{place.dayRoute}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="divider-header"></div>

    </div>

  </div> <!-- Chiusura colonna centrale -->

  <!-- HIDDEN LEFT COLUMN -->
  <div class="left-column-hidden hidden-lg hidden-md col-sm-12 col-xs-12">
    <span id="column-left-title-two">Gruppi</span>
    <span role="button" class="circle-button-add-group" data-toggle="modal" data-target="#groupCreationModal" (click)="resetModals();">+</span>
    <div class="group-list">
      <div *ngFor="let group of groupList; index as i" class="group-list-item">
        <img class="group-list-item-img" src="../assets/groups.png">
        <div class="group-list-item-text">
          <a role="button" (click)="onMemberRequest(group);"><p class="group-list-item-name">{{group.groupName}}</p></a>
          <span class="group-list-item-members">{{group.memberNum}} membri</span>
        </div>
        <button type="button" class="close" (click)="exitFromGroup(group, i);"><span>&times;</span></button>
      </div>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="right-column col-lg-3 col-md-3 hidden-sm hidden-xs">
    <span *ngIf="groupList != null && groupList.length != 0" class="column-right-title">Membri</span>
    <div *ngFor="let member of memberList; index as i" class="member-list">
      <div class="member-list-item">
        <img class="member-list-item-img" src="http://airninja.it/wp-content/uploads/2015/12/Ninja-2-512-2.png">
        <span class="member-list-item-name">{{member.userName}} {{member.surname}}</span>
        <button *ngIf="canDeleteMember(member.email);" type="button" class="close" (click)="deleteMemberFromGroup(member.email, i);"><span>&times;</span></button>
      </div>
    </div>
    <button *ngIf="isAdmin(user.email);" id="add-member-button" data-toggle="modal" data-target="#memberModal" (click)="onAddMember();">AGGIUNGI</button>
  </div>

  <!-- HIDDEN RIGHT COLUMN -->
  <div class="right-column hidden-lg hidden-md col-sm-12 col-xs-12">
    <span *ngIf="groupList != null && groupList.length != 0" class="column-right-title">Membri</span>
    <span *ngIf="isAdmin(user.email);" role="button" class="circle-button-add-member" data-toggle="modal" data-target="#memberModal" (click)="onAddMember();">+</span>
    <div *ngFor="let member of memberList; index as i" class="member-list">
      <div class="member-list-item">
        <img class="member-list-item-img" src="http://airninja.it/wp-content/uploads/2015/12/Ninja-2-512-2.png">
        <span class="member-list-item-name">{{member.userName}} {{member.surname}}</span>
        <button *ngIf="canDeleteMember(member.email);" type="button" class="close" (click)="deleteMemberFromGroup(member.email, i);"><span>&times;</span></button>
      </div>
    </div>
  </div>

</div>

<div class="foo">
  <div class="cont">
    <div class="row">
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Contatti</p>
        <p>inquire@roadtosvapo.it</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Indirizzo</p>
        <p>5230 Penfield Ave, Woodland Hills, CA</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-12 col-xs-12">
        <p>&copy; 2017-2018 roadtosvapo.it - All Rights Reserved</p>
        <p>Enjoy your trip!</p>
      </div>
    </div>
  </div>
</div>

<button hidden id="button-details-modal" data-toggle="modal" data-target="#detailModal"></button>

<!-- MODAL DETAILS -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 id="detail-place-name" class="text-center"></h1>
      </div>

      <div class="modal-body">
        <img id="detail-place-image" src="" />
        <p class="detail-title"><strong>Descrizione</strong></p>
        <p id="detail-place-description"></p>

        <p class="detail-title"><strong class="detail-title">Indirizzo</strong></p>
        <p id="detail-place-address"></p>

        <p class="detail-title"><strong>Link utili</strong></p>
        <a id="detail-place-link" target="_blank"></a>
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
