<!-- NAVBAR -->
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="back-button" class="navbar-brand" role="button" routerLink="/index" routerLinkActive="active">Road to Svapo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-button" role="button" tabindex="0" routerLink="/index">Home</a></li>
        <li><a *ngIf="user != null" class="navbar-button" role="button" tabindex="1" routerLink="/groups">Gruppi</a>
        </li>
        <li><a *ngIf="user != null" class="navbar-button" role="button" tabindex="2" routerLink="/suggest">Suggerisci un
          posto</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user == null">
          <a id ="button-login" role="button" tabindex="0" data-toggle="modal" data-target="#loginModal"
             whatever="@fat" (click)="clearModals();">Login
          </a>
        </li>
        <li *ngIf="user != null">
          <a id="button-logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benvenuto, {{user.userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a role="button" routerLink="/profile">Profilo</a></li>
            <li role="separator" id="dropdown-separator" class="divider"></li>
            <li><a role="button" data-toggle="modal" data-target="#logout-dialog">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- MODAL LOGIN -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button id="close-button-login" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img id="image-form-login" src="../assets/avatar.png" alt="Avatar" class="avatar">
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="loginEmail" type="text" class="form-control" placeholder="E-Mail" required>
          </div>
          <div class="form-group">
            <input id="loginPassword" type="password" class="form-control" placeholder="Password" required>
          </div>
        </form>
        <div id="alert-error-login" class="alert alert-danger" role="alert">
          <strong>Errore:</strong>
          <span id="error-message-login">E-Mail o Password errati</span>
        </div>
        <button id="button-login-confirm" type="button" class="btn" (click)="onLogin();">Login</button>
      </div>

      <div class="modal-footer">
        <button id="button-show-form-register" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Non hai un account?</button>
      </div>

    </div>
  </div>
</div>

<!-- MODAL REGISTER -->
<div class="modal" id="registerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center">Registrati, è gratis!</h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="registerEmail" type="text" class="form-control" placeholder="E-Mail" required>
          </div>
          <div class="form-group">
            <input id="registerPassword" type="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input id="registerName" type="text" class="form-control" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <input id="registerSurname" type="text" class="form-control" placeholder="Cognome" required>
          </div>
          <div id="alert-success" class="alert alert-success" role="alert">Registrazione avvenuta con successo!</div>
          <div id="alert-error" class="alert alert-danger" role="alert">
            <strong>Errore:</strong>
            <span id="error-message">E-Mail già in uso</span>
          </div>
        </form>

        <button id="button-register-confirm" type="button" class="btn" (click)="onRegister();">Registrati</button>
      </div>

    </div>
  </div>
</div>

<!-- MODAL SHARE -->
<div class="modal" id="shareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center">Salva e condividi itinerario</h1>
      </div>

      <div class="modal-body">
          <div class="form-group">
            <select class="form-control" id="sel1">
              <option>Seleziona un gruppo</option>
              <option *ngFor="let group of groups">{{group.groupName}}</option>
            </select>
          </div>
        <div id="alert-success-share" class="alert alert-success" role="alert">Itinerario condiviso con successo!</div>
        <div id="alert-error-share" class="alert alert-danger" role="alert">
          <strong>Errore:</strong>
          <span id="error-message-share">Nessun gruppo selezionato.</span>
        </div>
        <button id="button-share-confirm" type="button" class="btn" (click)="onShare();">Condividi</button>
      </div>

    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="section">

      <!-- LEFT COLUMN -->
      <div class="left-column col-md-3 hidden-sm hidden-xs">
        <p class="column-left-title">Pianifica la tua vacanza</p>
        <form>

          <input auto-complete id="input-search-city" [(ngModel)]="selectedCity" [source]="cities" min-chars="3"
                 name="cityName" placeholder="Seleziona una città"
                 [accept-user-input]="false" max-num-list="4" autocomplete="off"/>

          <my-date-range-picker id="check-in-check-out" name="mydaterange" placeholder="Check-in e check-out"
                                [options]="myDateRangePickerOptions"
                                [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)"
                                (inputFieldChanged)="onInputFieldChanged($event)"></my-date-range-picker>

        <div class="horizontal-divider"></div>

        <div class="radio-group-type">
          <input type="radio" name="type" value="friends" checked="checked" (click)="onChangeType('friends');"> <span class="span-type">Amici</span>
        </div>

        <div class="radio-group-type">
          <input type="radio" name="type" value="family" (click)="onChangeType('family');"> <span class="span-type">Famiglia</span>
        </div>

        <div class="radio-group-type">
          <input type="radio" name="type" value="love" (click)="onChangeType('love');"> <span class="span-type">Romantica</span>
        </div>

        <input id="submit-search" type="submit" value="SCOPRI" (click)="search();">
        </form>

        <div id="alert-error-search" class="alert alert-danger" role="alert">
          <strong>Errore:</strong>
          <span>Tutti i campi sono obbligatori.</span>
        </div>
      </div>

      <!-- CENTER COLUMN -->
      <div class="center-column col-md-6 col-sm-8 col-xs-12">
        <div class="save-share" *ngIf="user != null && routes != null && routes.length > 0">
          <button id="button-save" (click)="onSave();">Salva</button>
          <button id="button-share" data-toggle="modal" data-target="#shareModal" (click)="clearModals()">Salva e Condividi</button>
        </div>
        <div *ngFor="let route of routes; index as i">
          <!-- Header del giorno -->
          <div class="header-day">
            <p>{{route.dayString}}</p>
          </div>

          <div *ngFor="let place of route.places; index as j">
            <!-- Contenitore del Place -->
            <div class="item-place">
              <!-- Durata per visitare il posto -->
              <div class="item-place-duration">
                <span class="duration">{{place.duration}}</span>
                <span class="duration-label">MIN</span>
              </div>

              <!-- Immagine del posto -->
              <div class="item-place-image">
                <img src="{{place.image}}" alt="Luogo - {{place.placeName}}">
              </div>

              <!-- Descrizione del posto -->
              <div class="item-place-description">
                <a role="button" class="place-name" (click)="openDetails(place.placeName, place.longDescription, place.image, place.link, place.linkType, place.address);">{{place.placeName}}</a>
                <p class="place-popularity">{{place.rate}} aggiunto</p>
                <p class="place-description">{{place.placeDescription}}</p>
                <button class="button-place-delete" (click)="deletePlace(i,j);">Elimina</button>
              </div>
            </div>
            <!-- Distanza da un posto a quello seguente -->
            <div class="divider-item-place" *ngIf="place.distanceTo">
              <span>{{place.distanceTo}}m di distanza - Circa {{place.distanceInMinutes}} minuti</span>
            </div>
          </div> <!-- Chiusura ciclo places -->
          <div class="divider-header-day">

          </div>
        </div> <!-- Chiusura ciclo Routes -->
      </div> <!-- Chiusura colonna centrale -->

      <!-- RIGHT COLUMN -->
      <div class="right-column col-md-3 col-sm-4 col-xs-12">

        <p class="suggested-place-title">Altri posti interessanti</p>

        <div *ngFor="let suggestedPlace of suggestedPlaces; index as i" class="suggested-place-item">
          <img class="image-place" src="{{suggestedPlace.image}}" alt="Luogo - {{suggestedPlace.placeName}}">
          <div class="suggested-place-info">
            <p role="button" class="suggested-place-name" (click)="openDetails(suggestedPlace.placeName,
            suggestedPlace.longDescription, suggestedPlace.image, suggestedPlace.link, suggestedPlace.linkType, suggestedPlace.address);">{{suggestedPlace.placeName}}</p>
            <p class="suggested-place-views">{{suggestedPlace.rate}} visite</p>
            <button class="place-button-add" (click)="addPlace(i);">Aggiungi</button>
          </div>
        </div>

      </div>

</div>

<div id="save-dialog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Salva itinerario</h4>
      </div>
      <div class="modal-body">
        <p id="modal-message"></p>
      </div>
    </div>
  </div>
</div>

<div id="logout-dialog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Logout</h4>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler effettuare il logout?</p>
        <button type="button" class="btn button-logout" data-dismiss="modal" (click)="onLogout();">LOGOUT</button>
      </div>
    </div>
  </div>
</div>

<button id="button-show-save-dialog" data-toggle="modal" data-target="#save-dialog" hidden>Open Save Dialog</button>

<div class="foo">
  <div class="container">
    <div class="row">
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Contatti</p>
        <p>inquire@roadtosvapo.it</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Indirizzo</p>
        <p>5230 Penfield Ave, Woodland Hills, CA</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-12 col-xs-12">
        <p>&copy; 2017-2018 roadtosvapo.it - All Rights Reserved</p>
        <p>Enjoy your trip!</p>
      </div>
    </div>
  </div>
</div>

<button hidden id="button-details-modal" data-toggle="modal" data-target="#detailModal"></button>

<!-- MODAL DETAILS -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 id="detail-place-name" class="text-center"></h1>
      </div>

      <div class="modal-body">
        <img id="detail-place-image" src="" />
        <p class="detail-title"><strong>Descrizione</strong></p>
        <p id="detail-place-description"></p>

        <p class="detail-title"><strong class="detail-title">Indirizzo</strong></p>
        <p id="detail-place-address"></p>

        <p class="detail-title"><strong>Link utili</strong></p>
        <a id="detail-place-link" target="_blank"></a>
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

